.idea
.vscode
build
dist
node_modules
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

raw_reports
reports
cypress/screenshots
cypress/videos

Globals.d.ts.json
tsconfig.json
img/sprite.svg.json
Button.tsx.json
ProductsContext.tsx.json
PhonesPage.tsx.json
Icon.tsx.json
App.tsx.json
.gitignore.json
.lh/.gitignore.json
.lh/public/img/sprite.svg.json
.lh/src/context/ProductsContext.tsx.json
.lh/.gitignore.json
src/.lh/.lhignore
.lh/src/Components/Icon/Icon.tsx.json
.lh/src/Components/ProductDetails/components/Description/Description.module.scss.json
.lh/src/Components/ProductDetails/components/Description/Description.tsx.json
.lh/src/context/ProductsContext.tsx.json
.lh/src/Components/Icon/Icon.tsx.json
.lh/public/img/sprite.svg.json
.lh/.gitignore.json
