/* Header */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 320px;
height: 48px;
left: 0px;
top: 0px;

/* Gray / White */
background: #FFFFFF;
/* Gray / Elements */
border-bottom: 1px solid #E2E6E9;


/* Logo */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 96px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Logo */

width: 64px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Nice Gadgets */

position: absolute;
left: 0%;
right: 0%;
top: 5.46%;
bottom: 0%;

/* Gray / Primary */
background: #313237;


/* image 15 */

position: absolute;
left: 50.2%;
right: 36.15%;
top: 0%;
bottom: 47.91%;

background: url(image);


/* Menu items */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

display: none;
width: 329px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Search */

display: none;
width: 327px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 3 */

position: absolute;
width: 327px;
height: 64px;
right: -1022px;
top: calc(50% - 64px/2 + 8px);

/* Gray/Black */
background: #0F1121;
box-shadow: -1px 0px 0px #E2E6E9;


/* Search... */

position: absolute;
width: 61px;
height: 18px;
right: -780px;
top: calc(50% - 18px/2 + 8px);

font-family: 'Mont';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height */

/* Gray/Icons + Placeholders */
color: #4A4D58;



/* Icons/Search */

position: absolute;
width: 16px;
height: 16px;
left: 1302px;
top: 24px;



/* Rectangle 13 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Union */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Gray/White */
background: #F1F2F9;


/* Vector (Stroke) */

position: absolute;
left: 8.33%;
right: 16.67%;
top: 8.33%;
bottom: 16.67%;

/* Gray 1 */
background: #333333;


/* Vector (Stroke) */

position: absolute;
left: 65.21%;
right: 8.33%;
top: 65.21%;
bottom: 8.33%;

/* Gray 1 */
background: #333333;


/* Buttons Right */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 208px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Favourites */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

display: none;
width: 48px;
height: 48px;

/* Gray/Black */
background: #0F1121;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cart */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

/* Gray / White */
background: #FFFFFF;
/* Gray / Elements */
border-bottom: 1px solid #E2E6E9;
box-shadow: -1px 0px 0px #E2E6E9;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Indicator */

display: none;
width: 66px;
height: 3px;

/* Gray/White */
background: #F1F2F9;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icons/Close */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 37 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Union */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

/* Gray / Primary */
background: #313237;


/* Vector (Stroke) */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

background: #000000;


/* Vector (Stroke) */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

background: #000000;


/* Icons/Shopping bag + Counter(Cart) */

display: none;
width: 28px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
