@import '../../utils/mediaQueries.module.scss';
@import '../../utils/desktopHeaderFonts.scss';

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
 @
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
