@import '../../utils/mediaQueries.module.scss';
@import '../../utils/desktopHeaderFonts.scss';

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
